<?xml version="1.0" encoding="utf-8" ?>
<!-- fichier XML avec une configuration par défaut pour gérer les logs -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File"
            name="logfile"
            fileName="${basedir}/logs/app.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>

  <rules>
    <logger name="*" minLevel="Info" writeTo="logfile" />
  </rules>
</nlog>
